version = "0.3.0-pre"

[workspace]

members = [
    "rain_core",
    "rain_server",
    "rain_task",
    "rain_task_test",
]

[patch.crates-io]
rain_core = { path = "rain_core" }
rain_task = { path = "rain_task" }
